
          body { margin: 0; padding: 0;}
          #page, #content { 
            margin-left: auto;
                margin-right :auto;
                padding-left: 7em;
                padding-right: 2em;
                min-width: 20em;
                max-width: 38em;
                margin-top: 0em;
          }
          h1 { font-size: 2.0rem; font-weight:normal;}
          h2 { font-size: 1.8rem; font-weight:normal;}
          h3 { font-size: 1.4rem; font-weight:normal;}
          h4 { font-size: 1.2rem; }
          h5,h6 { font-size: 1.0rem; font-weight:bold;}
          h1,h2,h3,h4,h5,h6{
            margin-top: 1.0em;
            margin-bottom: 0.4em;
          }
          tt { background: #ddd; padding-left: 0.3em; padding-right: 0.3em;border:.5px solid gray;}
          tt, pre { font-weight:normal; 
                  font-size: 9pt;
          }
          #perf td { text-align: right;}
          #perf td:first-child { text-align: left;}
          body {
            font-family: 'Sans'; font-size: 12pt;
          }
          dl dt {
                  font-weight: bold;
          }
          body pre {
            font-family: 'Courier';line-height:1em;
          }
          .content p { 
  text-align: justify;
/*  -moz-column-width: 17em; 
  column-width: 17em;*/
  line-height: 120%;

          }
   #menu { position:fixed; background: white; top: 0;
           padding-bottom:.5em;
         }
   #menu a { padding-left: .25em; padding-right:.5em;}
   #menu a, #menu a:visited { display: block; text-decoration: none; color: black; }
   #menu a:hover { display: block; background: black; color: white; }

          #page{background-color:inherit;}
          td{vertical-align:top; }
